<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>localhost:5000</destination>

        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"appname":"myPetClinic"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stash" />
    </root>

</configuration>